@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color:aliceblue;
    font-family: "Mulish", serif;
    font-style: normal;  
}

.nav{
    height: 120px;
}

.nav h1{
    font-weight: 700;
}

.nav-a{
    height: 55px;
    width: 100%;
    background-color: rgb(36, 167, 218);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a{
    margin: 20px;
    text-decoration: none;
    color: white;
}

.first{
    padding-top: 20px;
    padding: 15px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
}

.first h2{
    padding-bottom: 10px;
    border-bottom: 1px dotted skyblue;
}

.firstimg{
    display: flex;
    justify-content: center;
}

.second{
    margin-top: 30px;
    padding: 15px;
    height: 450px;
    background-color: white;
}

.thanks{
    margin-top: 50px;
}

.footer{
    height: 80px;
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
}