@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    font-family: "Outfit", serif;
}

.main{
    height: 100%;
    width: 100%;
    
}

.nav{
    height: 10vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h1{
    color: white;
}

.nav2{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.nav2 a{
    padding: 1.5vw;
    text-decoration: none;
    color: black;
}

.left{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.left h2{
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vw;
}

.left a{
    text-decoration: none;
    padding-top: 1.5vh;
    padding-left: 1.2vw;
    border-top: 1px dotted gray;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1.4vh;
}

.page1{
    display: flex;
}

.right{
    height: 100%;
    width: 80%;
    padding: 1vw;
    background-color: white;
}

.right h1{
    padding-bottom: 1vh;
}

.imgs{
    height: 49.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

.imgs img{
    height: 100%;
    width: 25vw;
    object-fit: cover;
    padding: 0.5vw;
}

.rightbot{
    height: 35vh;
    width: 100%;
    padding: 1vw;
}

.rightbot h2{
    padding-top: 1.5vh;
}

.list{
    padding: 1vw;
    padding-left: 3vw;
}

.footer{
    height: 10vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}


